.body{
    padding: 20px 0 10px 0;
    /* //flex-direction: column; */
}


.body .title{
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.body .subTitle{
    font-size: 14px;
    font-weight: 300;
    color: black;   
}

.footer{
    padding:10px 0 20px 0;
}